@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Multi-Record Web Grid";

    
    var pid = Request.QueryString["pid"];
    <p>You passed the value @pid  to this page</p>
}

@section banner{
    <h1>Database: Data From WebGrid Page</h1>
    }
