<!--<connectionStrings>
  <add name="CKDB"
       connectionString="Data Source=.;Initial Catalog=Chinook; Integrated Security=true"
      providerName="System.Data.SqlClient"/>
</connectionStrings>-->

<connectionStrings>
  <add name="CKDB"
       connectionString="Data Source=DESKTOP-HP\SQLExpress;Initial Catalog=Chinook; Integrated Security=true"
      providerName="System.Data.SqlClient"/>
</connectionStrings>
